{% extends 'base.html.twig' %}

{% block body %}
    <div class="container bg-light">
        <div class="card mt-5">
            <h5 class="card-header">Gracias por su registro</h5>
            <div class="card-body">
                <h5 class="card-title">{{ registro.nombre }} {{ registro.paterno }} {{ registro.materno }}</h5>
                <p class="card-text">Recibirá un correo de confirmación a la dirección que nos proporcionó: <i>{{ registro.email }}</i></p>
                <p class="card-text">Si no recibe el correo de confirmación debe verificar en su bandeja de correos no deseados,
                    si no lo ha recibido debe escribir a webmaster<i class="fas fa-at"></i>matmor.unam.mx para confirmar su registro</p>
                <a href="http://www.matmor.unam.mx/" class="btn btn-primary">Finalizar</a>
            </div>
        </div>
    </div>
{% endblock %}
